{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<title>Password Reset Success</title>
		<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous" />
	</head>
  <body
  style="background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ">
	<nav class="navbar navbar-expand-sm">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">
    <img src="{% static 'images/Caramel-Horz.png' %}" alt="logo" style="width:240px; height:65px; margin:0px 0px 0px 0px;">
  </a>
</nav>
    <center><br/><br/>
      <h2><b><span th:text="${message}"></span> </b><br/><br/><br/></h2>
      {% if state == 1 %}
        <h3>This link has expired</h3>
      {% elif state == 2 %}
        <h3>The link in the url was invalid</h3>
      {% elif state == 3 %}
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <div class="form-group input-group has-feedback">
              <label for="password">New Password</label><br/>
              <input class="form-control" type="password" name="password" id="password" placeholder="Type new password..." required>
            </div>
            <div class="form-group input-group has-feedback">
              <label for="rePassword">Re-type new Password</label><br />
              <input class="form-control" type="password" name="rePassword" id="rePassword" placeholder="Retype Password..." required>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn btn-primary" id="submitButton">Update Password</button>
          </div>
        </form>
        <script>
          var password = document.getElementById('password');
          var rePassword = document.getElementById('rePassword');

          var passwordVal = false;
          var rePasswordVal = false;

          function submitButton() {
            if(passwordVal & rePasswordVal) {
                document.getElementById('submitButton').disabled = false;
            } else {
                document.getElementById('submitButton').disabled = true;
            }
          }

          function validatepassword(e) {
            if(password.value.length < 8) {
              password.style.borderColor = 'red';
              passwordVal = false;
            } else {
              password.style.borderColor = 'green';
              passwordVal = true;
            }

            submitButton();
          }

          function validateRePassword(e) {
            if(rePassword.value.localeCompare(password.value) != 0) {
              rePassword.style.borderColor = 'red';
              rePasswordVal = false;
            } else {
              rePassword.style.borderColor = 'green';
              rePasswordVal = true;
            }

            submitButton();
          }

          submitButton();
          password.addEventListener("keyup", validatepassword);
          rePassword.addEventListener("keyup", validateRePassword);  
        </script>
      {% elif state == 4 %}
        <h3>Click here to <a href="/academy">Login</a></h3>
      {% endif %}
		</center>
	</body>
</html>
