[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
djongo = "*"
pillow = "*"
pyjwt = "*"
pymongo = "*"

[requires]
python_version = "3.8"
